[submodule "external/tabrepo"]
	path = external/tabrepo
	url = https://github.com/autogluon/tabrepo.git
	branch = main
[submodule "external/tabpfnwide"]
	path = external/tabpfnwide
	url = https://github.com/domiomi3/TabPFN-Wide.git
	branch = main
